.homepage {
    font-size: 25px;
    width: 100%;
    font-family: Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    flex-grow: 1;
    min-height: calc(90vh - 100px);

}

.homepage h1 {
  color: #3e497a;
  font-size: 30px;
  margin-bottom: 20px;
}

.intro {
  background-color: white;
  color: #2B488C;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 20px;
}

.intro .phrase {
  width: 40%;
  font-size: 25px;
}

.skills {
  font-size: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills h1 {
  color: #3e497a;
}

.skillList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  max-width: 800px; 
  margin: 0 auto; 
}

.skill {
  color:#2B488C;
  display: inline-block;
  background-color: #F5E6E8;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skill .skillList {
  font-size: 20px;
  width: 100%; 
  list-style: none;
}

.skillList span {
  color: #E788AC;
  font-size: 15px;
}

@media only screen and (max-width: 600px) {
  .homepage h1 {
    font-size: 30px;
  }

  .intro .phrase {
    margin-top: 10px;
    font-size: 20px;
    width: 80%;
  }

  .skills {
    text-align: center;
  }

  .skill h3 {
    font-size: 20px;
  }

  .skillList {
    padding: 0;
    flex-direction: column; 
    align-items: center; 
  }
}

